<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/images/weather.png">
  <title>About page</title>
</head>
<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait" src="/images/robot.png" alt="">
    <p>This site was created by dsrtf0x using mapbox.om and darksky.net</p>
  </div>
  {{>footer}}
</body>
</html>